header{
	background-color: #F15B31;
	color: #FFFFFF;
	padding:30px 20px;
}
nav{
	background-color: #00a6b3;
	color: #FFFFFF;
}
main{
	width: 850px;
	margin: 35px auto;
	width: 850px;
	margin: 35px auto;
}
img{
	margin: 40px 8px 0px 8px;
}
h1{
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 45px;
	margin: 0;
}
h2{
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	color: #0D2C40;
	text-decoration: none;
}
a{
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	color:#FFFFFF;
	text-decoration: none;
	margin:0px 20px;
	border-bottom: 2px solid transparent;
}
a:hover{
	border: 1px solid #ffffff;
}
p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 16px;

}
body{
	text-align: center;
	margin: 0;
}
footer{
	text-transform: uppercase;
	padding: 10px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright{
	float: left;
}
.message{
	float: right;
}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
.name{
	color: #F15B31;
	font-weight: 700;
}